@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import 'tailwindcss';
@plugin 'daisyui' {
  themes:
    corporate --default,
    dim --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'corporate';
  default: true;
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}

@plugin "daisyui/theme" {
  name: 'dim';
  prefersdark: true;
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}

@theme {
  --font-sans: 'Inter';
  --font-mono: 'JetBrains Mono';
}

.wallefont {
  font-family: 'Orbitron';
}

.container {
  width: 100%;
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
  @media (width >= 96rem) {
    max-width: 96rem;
  }
  @media (width >= 105rem) {
    max-width: 105rem;
  }
}
